body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
}

div {
  margin: 20px;  
}

.result, form {
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  max-width: 732px;
  padding: 16px;
  border-color:darkgreen;
  border-style: solid;
}

.title {
  text-align: right;
  color: darkgreen;
  font-style: oblique;
}
